In [5]:
from langchain.utilities import SQLDatabase
from langchain.llms import OpenAI
from langchain.prompts import PromptTemplate
from langchain.chains import create_sql_query_chain
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_google_genai import ChatGoogleGenerativeAI

In [7]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [13]:
#connect to the SQL database
host='localhost'
port='3306'
username='root'
password='1234567kid'
database_schema='HOCSINhDB'

mysql_uri = f'mysql+pymysql://{username}:{password}@{host}:{port}/{database_schema}'
db=SQLDatabase.from_uri(
    mysql_uri, 
    sample_rows_in_table_info=2
)

db.get_table_info()

c:\ProgramData\anaconda3\envs\medicalbot\lib\site-packages\langchain_community\utilities\sql_database.py:338: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "bomon, giaovien", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
c:\ProgramData\anaconda3\envs\medicalbot\lib\site-packages\langchain_community\utilities\sql_database.py:350: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "bomon, giaovien", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

'\nCREATE TABLE bomon (\n\t`MABM` VARCHAR(5) NOT NULL, \n\t`TENBM` VARCHAR(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`PHONG` VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`DIENTHOAI` VARCHAR(15), \n\t`TRUONGBM` VARCHAR(5), \n\t`MAKHOA` VARCHAR(5), \n\t`NGAYNHANCHUC` DATE, \n\tPRIMARY KEY (`MABM`), \n\tCONSTRAINT `FK_BM_TRUONGBM` FOREIGN KEY(`TRUONGBM`) REFERENCES giaovien (`MAGV`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from bomon table:\nMABM\tTENBM\tPHONG\tDIENTHOAI\tTRUONGBM\tMAKHOA\tNGAYNHANCHUC\nCNTT\tCông nghệ tri thức\tB15\t0838126126\tNone\tCNTT\tNone\nHHC\tHóa hữu cơ\tB44\t838222222\tNone\tHH\tNone\n*/\n\n\nCREATE TABLE chude (\n\t`MACD` CHAR(4) NOT NULL, \n\t`TENCD` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`MACD`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from chude table:\nMACD\tTENCD\nNCPT\tNghiên cứu phát triển\nQLGD\tQuản lý giáo dục\n*/\n\n\nCREATE TABLE congviec (\n\t`MADT` VARCHAR(5) NOT NULL, \n\t`SOTT` INTEGER NOT NULL, \n\t`TENCV` VARCHAR(30) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`NGAYBD` DATE, \n\t`NGAYKT` DATE, \n\tPRIMARY KEY (`MADT`, `SOTT`), \n\tCONSTRAINT `FK_CV_MADT` FOREIGN KEY(`MADT`) REFERENCES detai (`MADT`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from congviec table:\nMADT\tSOTT\tTENCV\tNGAYBD\tNGAYKT\n\n*/\n\n\nCREATE TABLE detai (\n\t`MADT` VARCHAR(5) NOT NULL, \n\t`TENDT` VARCHAR(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`CAPQL` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`KINHPHI` DECIMAL(12, 2), \n\t`NGAYBD` DATE, \n\t`NGAYKT` DATE, \n\t`MACD` VARCHAR(5), \n\t`GVCNDT` VARCHAR(5), \n\tPRIMARY KEY (`MADT`), \n\tCONSTRAINT `FK_DT_CD` FOREIGN KEY(`GVCNDT`) REFERENCES giaovien (`MAGV`), \n\tCONSTRAINT `FK_DT_GVCNDT` FOREIGN KEY(`MACD`) REFERENCES chude (`MACD`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from detai table:\nMADT\tTENDT\tCAPQL\tKINHPHI\tNGAYBD\tNGAYKT\tMACD\tGVCNDT\n001\tHTTT quản lý các trường ĐH\tĐHQG\t20.00\t2004-10-20\t2008-10-20\tQLGD\t002\n002\tHTTT quản lý giáo vụ cho một khoa\tTrường\t20.00\t2000-10-12\t2001-10-12\tQLGD\t002\n*/\n\n\nCREATE TABLE giaovien (\n\t`MAGV` VARCHAR(5) NOT NULL, \n\t`HOTEN` VARCHAR(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`LUONG` DECIMAL(10, 2), \n\t`PHAI` VARCHAR(5) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`NGAYSINH` DATE, \n\t`DIACHI` VARCHAR(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`GVQLCM` VARCHAR(5), \n\t`MABM` VARCHAR(5), \n\tPRIMARY KEY (`MAGV`), \n\tCONSTRAINT `FK_GV_BM` FOREIGN KEY(`MABM`) REFERENCES bomon (`MABM`), \n\tCONSTRAINT `FK_GV_GVQLCM` FOREIGN KEY(`GVQLCM`) REFERENCES giaovien (`MAGV`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from giaovien table:\nMAGV\tHOTEN\tLUONG\tPHAI\tNGAYSINH\tDIACHI\tGVQLCM\tMABM\n001\tNguyễn Hoài An\t2000.00\tNam\t1973-02-15\t25/3 Lạc Long Quân, Q.10, TP HCM\tNone\tMMT\n002\tTrần Trà Hương\t2500.00\tNữ\t1960-06-20\t125 Trần Hưng Đạo, Q.1, TP HCM\tNone\tHTTT\n*/\n\n\nCREATE TABLE gv_dt (\n\t`MAGV` VARCHAR(5) NOT NULL, \n\t`DIENTHOAI` VARCHAR(15) NOT NULL, \n\tPRIMARY KEY (`MAGV`, `DIENTHOAI`), \n\tCONSTRAINT `FK_DT_GV` FOREIGN KEY(`MAGV`) REFERENCES giaovien (`MAGV`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from gv_dt table:\nMAGV\tDIENTHOAI\n\n*/\n\n\nCREATE TABLE khoa (\n\t`MAKHOA` VARCHAR(5) NOT NULL, \n\t`TENKHOA` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`NAMTL` INTEGER, \n\t`PHONG` VARCHAR(15), \n\t`DIENTHOAI` VARCHAR(15), \n\t`TRUONGKHOA` VARCHAR(5), \n\t`NGAYNHANCHUC` DATETIME, \n\tPRIMARY KEY (`MAKHOA`), \n\tCONSTRAINT `FK_KHOA_TRUONGKHOA` FOREIGN KEY(`TRUONGKHOA`) REFERENCES giaovien (`MAGV`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from khoa table:\nMAKHOA\tTENKHOA\tNAMTL\tPHONG\tDIENTHOAI\tTRUONGKHOA\tNGAYNHANCHUC\nCNTT\tCông nghệ thông tin\t1995\tB11\t0838123456\t002\t2005-02-20 00:00:00\nHH\t Hóa học\t1980\tB31\t0838454545\t004\t2000-10-11 00:00:00\n*/\n\n\nCREATE TABLE nguoithan (\n\t`MAGV` VARCHAR(5) NOT NULL, \n\t`TEN` VARCHAR(30) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`NGSINH` DATE, \n\t`PHAI` VARCHAR(5) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`MAGV`, `TEN`), \n\tCONSTRAINT `FK_NT_GV` FOREIGN KEY(`MAGV`) REFERENCES giaovien (`MAGV`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from nguoithan table:\nMAGV\tTEN\tNGSINH\tPHAI\n001\tHùng\t1990-01-14\tNam\n001\tThủy\t1994-12-05\tNữ\n*/\n\n\nCREATE TABLE thamgiadt (\n\t`MAGV` VARCHAR(5) NOT NULL, \n\t`MADT` VARCHAR(5) NOT NULL, \n\t`STT` INTEGER NOT NULL, \n\t`PHUCAP` DECIMAL(5, 2), \n\t`KETQUA` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`MAGV`, `MADT`, `STT`), \n\tCONSTRAINT `FK_TGDT_CV` FOREIGN KEY(`MADT`, `STT`) REFERENCES congviec (`MADT`, `SOTT`), \n\tCONSTRAINT `FK_TGDT_GV` FOREIGN KEY(`MAGV`) REFERENCES giaovien (`MAGV`)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n2 rows from thamgiadt table:\nMAGV\tMADT\tSTT\tPHUCAP\tKETQUA\n\n*/'

In [16]:
#CREATE DATA PROMPT TEMPLATE
from langchain_core.prompts import ChatPromptTemplate

template = """
You are an expert MySQL developer.

Your task:
- Convert a Vietnamese natural language question into a MySQL SQL query.

STRICT RULES:
- Use ONLY MySQL syntax.
- Use ONLY tables and columns that appear in the provided schema.
- DO NOT guess or invent tables or columns.
- DO NOT explain anything.
- DO NOT wrap the SQL in markdown.
- Output ONLY a single valid SQL query.
- ONLY SELECT queries are allowed (NO INSERT, UPDATE, DELETE, DROP).

DATE & TIME RULES:
- Allowed functions: CURDATE(), NOW(), DATE_SUB(), DATE_ADD(), YEAR(), MONTH(), DAY().
- For phrases like:
  "N ngày gần nhất", "N ngày qua", "trong vòng N ngày":
  ALWAYS use DATE_SUB(CURDATE(), INTERVAL N DAY).
- DO NOT use SQL Server functions (NO GETDATE, NO DATEDIFF, NO DATEPART).

DATABASE SCHEMA:
{schema}

QUESTION:
{question}

SQL QUERY:
"""

prompt = ChatPromptTemplate.from_template(template)


promt=ChatPromptTemplate.from_template(template)

In [17]:
def get_schema():
    schema=db.get_table_info()
    return schema

In [37]:
import getpass
from langchain_google_genai import ChatGoogleGenerativeAI

api_key = getpass.getpass("Nhập Google API Key: ")

llm = ChatGoogleGenerativeAI(
    model="gemini-2.5-flash",
    temperature=0,
    google_api_key=api_key
)

In [38]:
def get_schema(db):
    return db.get_table_info()

In [40]:
def generate_sql(question: str):
    schema = get_schema(db)

    prompt_value = prompt.invoke({
        "schema": schema,
        "question": question
    })

    response = llm.invoke(prompt_value)

    sql = response.content.strip()
    return sql

In [41]:
def nl_to_sql_execute(question: str):
    sql = generate_sql(question)

    print("=== GENERATED SQL ===")
    print(sql)

    if not sql.lower().startswith("select"):
        raise ValueError("❌ Only SELECT queries are allowed")

    result = db.run(sql)
    return result

In [42]:
res = nl_to_sql_execute(
    "Cho biết họ tên và mức lương của các giáo viên nữ."
)
print(res)

c:\ProgramData\anaconda3\envs\medicalbot\lib\site-packages\langchain_community\utilities\sql_database.py:338: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "bomon, giaovien", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
c:\ProgramData\anaconda3\envs\medicalbot\lib\site-packages\langchain_community\utilities\sql_database.py:350: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "bomon, giaovien", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

=== GENERATED SQL ===
SELECT HOTEN, LUONG FROM giaovien WHERE PHAI = 'Nữ'
[('Trần Trà Hương', Decimal('2500.00')), ('Nguyễn Ngọc Ánh', Decimal('2200.00')), ('Trần Bạch Tuyết', Decimal('1500.00'))]